/* commento in css */
/* 1° modo per formire regole, selettore tag */
/* in questo caso tutti gli h1 della pagina avranno le stesste regole*/
/*
h1{
    color: red;
}
p{
    color: blue;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}
    */
body{
    font-family: 'Times New Roman', Times, serif;
    background-color: bisque;
    margin: 0;
}

a{
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 5px;
    background-color: red;
    margin: 10px;
}

a:hover{
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 5px;
    background-color: blue;
    margin: 10px;
}